**/__pycache__
*.egg-info/
build/
.coverage
mlruns/
/reports/
.DS_Store
.env
tmp/
.langchain.db/
.plexus_training_data_cache/
/scorecards/
.plexus/
node_modules
node_modules/*
plexus/scores/reports/Test_scorecard/None/configuration.json
.env.docker
infrastructure/cdk.out/
