pydantic-ai-slim
pydantic
openai
tokenizers
tiktoken
aiohttp
click
fastuuid
httpx
importlib-metadata
jinja2
jsonschema
orjson
regex
tqdm
diskcache
asyncer
cachetools
cloudpickle
xxhash
typing-extensions
anyio
lupa
rapidfuzz
antlr4-python3-runtime
dotyaml
markdown
nanoid
nest-asyncio
sniffio
typer<0.13,>=0.12
