@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 224 42% 100%;
    --foreground: 224 69% 3%;
    --muted: 344 7% 89%;
    --muted-foreground: 344 12% 29%;
    --popover: 224 42% 100%;
    --popover-foreground: 224 69% 3%;
    --card: 0 0% 99%;
    --card-foreground: 224 69% 2%;
    --border: 224 11% 95%;
    --input: 224 11% 95%;
    --primary: 224 92% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 92% 65%;
    --secondary-foreground: 344 0% 100%;
    --accent: 224.27 92.13% 65.1%;
    --accent-foreground: 104 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 8 0% 100%;
    --ring: 224 92% 65%;
    --radius: 0.5rem;
    --light-blue-bg: 210 50% 95%;
    --chart-primary: 224 50% 70%;
    --chart-secondary: 344 50% 70%;
    --chart-accent: 224 50% 70%;
  }

  .dark {
    --background: 240 32.47% 15.1%;
    --foreground: 224 10% 98%;
    --muted: 217.2 20.32% 36.44%;
    --muted-foreground: 344 0% 70%;
    --popover: 224 51% 0%;
    --popover-foreground: 224 10% 98%;
    --card: 0 0% 1%;
    --card-foreground: 224 10% 99%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --primary: 224 92% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 92% 65%;
    --secondary-foreground: 344 0% 100%;
    --accent: 224.27 92.13% 65.1%;
    --accent-foreground: 104 0% 100%;
    --destructive: 0 82% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 224.27 92.13% 65.1%;
    --light-blue-bg: 210 50% 15%;
    --chart-primary: 224 30% 40%;
    --chart-secondary: 344 30% 40%;
    --chart-accent: 224 30% 40%;
  }
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: none;
  --amplify-components-authenticator-router-border-width: 2px;
  --amplify-components-authenticator-form-padding: 1rem 2rem;
  --amplify-components-button-primary-background-color: hsl(var(--primary));
  --amplify-components-button-primary-foreground-color: hsl(var(--primary-foreground));
  --amplify-components-button-primary-color: hsl(var(--primary-foreground));
  --amplify-components-button-primary-hover-background-color: hsl(var(--secondary));
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px hsl(var(--secondary));
  --amplify-components-tabs-item-active-border-color: hsl(var(--secondary));
  --amplify-components-tabs-item-color: hsl(var(--muted-foreground));
  --amplify-components-tabs-item-active-color: hsl(var(--secondary-background));
  --amplify-components-button-link-color: hsl(var(--accent-foreground));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}