@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 69% 12%;
    --muted: 220 14% 94%;
    --muted-foreground: 224 20% 40%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 69% 12%;
    --card: 210 50% 97%;
    --card-foreground: 224 69% 12%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 210 100% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 328 100% 42%;
    --secondary-foreground: 0 0% 100%;
    --accent: 280 75% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 100% 56%;
    --radius: 0.5rem;
    --light-blue-bg: 210 50% 95%;
    --chart-primary: 210 70% 50%;
    --chart-secondary: 328 70% 50%;
    --chart-accent: 280 55% 50%;
  }

  .dark {
    --background: 240 32% 15%;
    --foreground: 224 10% 98%;
    --muted: 217 20% 36%;
    --muted-foreground: 330 0% 70%;
    --popover: 224 51% 0%;
    --popover-foreground: 224 10% 98%;
    --card: 0 0% 1%;
    --card-foreground: 224 10% 99%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --primary: 213 94% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 81% 60%;
    --secondary-foreground: 0 0% 100%;
    --accent: 280 73% 64%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 213 94% 68%;
    --light-blue-bg: 210 50% 15%;
    --chart-primary: 213 94% 68%;
    --chart-secondary: 330 81% 60%;
    --chart-accent: 280 73% 64%;
  }
}

[data-amplify-authenticator] {
  --amplify-components-authenticator-router-box-shadow: none;
  --amplify-components-authenticator-router-border-width: 2px;
  --amplify-components-authenticator-form-padding: 1rem 2rem;
  --amplify-components-button-primary-background-color: hsl(var(--primary));
  --amplify-components-button-primary-foreground-color: hsl(var(--primary-foreground));
  --amplify-components-button-primary-color: hsl(var(--primary-foreground));
  --amplify-components-button-primary-hover-background-color: hsl(var(--secondary));
  --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px hsl(var(--secondary));
  --amplify-components-tabs-item-active-border-color: hsl(var(--secondary));
  --amplify-components-tabs-item-color: hsl(var(--muted-foreground));
  --amplify-components-tabs-item-active-color: hsl(var(--secondary-background));
  --amplify-components-button-link-color: hsl(var(--accent-foreground));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[hsl(var(--light-blue-bg))];
  }
}